//Fonts
$Epilogue: Epilogue, sans-serif;


//Colors 
$Black: #000000;
$Grey: #E5E5E5;
$DarkGrey: #575756;
$BackgroundGrey: #F1F1F1;
$White: #fff;
$LightGreen: #7CC9C2;
$Green: #318C8C;
$Orange: #F05A28;

//Media Queries
@mixin for-mobile-S {
  @media (max-width: 320px) { @content; }
}
@mixin for-mobile-L {
  @media (max-width: 425px) { @content; }
}
@mixin for-tablet {
  @media (max-width: 768px) { @content; }
}
@mixin for-laptop {
  @media (max-width: 1024px) { @content; }
}
@mixin for-laptop-L {
  @media (max-width: 1440px) { @content; }
}

//Buttons

@mixin btn-search {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

