* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Epilogue, sans-serif;
}

header {
  height: 160px;
}
@media (max-width: 768px) {
  header {
    height: 80px;
  }
}
header .navbar {
  height: 160px;
}
@media (max-width: 768px) {
  header .navbar {
    height: 80px;
  }
}
header .navbar__logo {
  position: absolute;
  left: 218px;
  top: 23px;
}
@media (max-width: 1440px) {
  header .navbar__logo {
    left: 100px;
  }
}
@media (max-width: 1024px) {
  header .navbar__logo {
    left: 21.5px;
  }
}
@media (max-width: 768px) {
  header .navbar__logo {
    width: 60px;
    height: 60px;
    top: 10px;
  }
}
header .navbar__menu {
  position: absolute;
  left: 34.4%;
  height: 160px;
}
@media (max-width: 1440px) {
  header .navbar__menu {
    left: 30%;
  }
}
@media (max-width: 1024px) {
  header .navbar__menu {
    left: 18%;
  }
}
@media (max-width: 768px) {
  header .navbar__menu {
    display: none;
  }
}
header .navbar__item {
  height: 160px;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  padding-left: 15px;
  padding-right: 15px;
  transition: background-color 200ms ease-in-out;
}
header .navbar__item:hover {
  background-color: #E5E5E5;
}
header .navbar__item:hover ul {
  visibility: visible;
  opacity: 1;
}
header .navbar__dropdown {
  position: absolute;
  list-style-type: none;
  top: 160px;
  left: -90px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 287px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}
header .navbar__dropdown li {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  margin-top: 30px;
}
header .navbar__dropdown li:first-of-type {
  margin-top: 40px;
}
header .navbar__dropdown--second {
  left: 180px;
  height: 191px;
}
header .navbar__search {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  right: 215px;
  top: 40px;
  width: 80px;
  height: 80px;
}
@media (max-width: 1440px) {
  header .navbar__search {
    right: 100px;
  }
}
@media (max-width: 1024px) {
  header .navbar__search {
    right: 30px;
  }
}
@media (max-width: 768px) {
  header .navbar__search {
    display: none;
  }
}
header .navbar__search-mobile {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  header .navbar__search-mobile {
    display: inline-block;
    width: 30px;
    height: 60px;
    top: 10px;
    right: 80px;
  }
}
@media (max-width: 425px) {
  header .navbar__search-mobile {
    right: 75px;
  }
}
header .navbar__hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .navbar__hamburger {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 20px;
  }
}

.search-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  text-align: center;
}
.search-overlay__form {
  width: 74.1%;
  display: block;
  margin: auto;
  padding-top: 487px;
  text-align: center;
}
@media (max-width: 768px) {
  .search-overlay__form {
    width: 94.8%;
  }
}
@media (max-width: 425px) {
  .search-overlay__form {
    padding-top: 353px;
  }
}
.search-overlay__input {
  height: 50px;
  width: 100%;
  padding-left: 30px;
  padding-top: 16px;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.6rem;
  border: none;
  border-bottom: 2px solid #E5E5E5;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: 98%;
}
@media (max-width: 768px) {
  .search-overlay__input {
    padding-left: 20px;
    width: 708px;
    background-size: 30px 30px;
    font-size: 2.8rem;
    line-height: 2.9rem;
  }
}
@media (max-width: 767px) {
  .search-overlay__input {
    width: 380px;
  }
}
@media (max-width: 425px) {
  .search-overlay__input {
    width: 315px;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 374px) {
  .search-overlay__input {
    width: 280px;
  }
}
.search-overlay__input::placeholder {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.6rem;
}
@media (max-width: 768px) {
  .search-overlay__input::placeholder {
    font-size: 2.8rem;
    line-height: 2.9rem;
  }
}
@media (max-width: 425px) {
  .search-overlay__input::placeholder {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}
.search-overlay__button-close {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 56px;
  height: 56px;
  top: 20px;
  right: 30px;
}
@media (max-width: 768px) {
  .search-overlay__button-close {
    right: 20px;
  }
}
@media (max-width: 425px) {
  .search-overlay__button-close {
    display: none;
  }
}
.search-overlay__button-close-small {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
@media (max-width: 425px) {
  .search-overlay__button-close-small {
    display: block;
    width: 36px;
    height: 36px;
    top: 12px;
    right: 12px;
  }
}

.hero {
  height: 610px;
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}