h1 {
    font-size: 5rem;
    line-height: 5.125rem;
    font-weight: 700;
}

h2 {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 700;
}

p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 400;
}