.contact {
    background-color: $Green;
}

.contact__container {
    flex-direction: column;
}

.contact__title {
    color: $White;
    margin-bottom: 10px;
}

.contact__form {
    max-width: 1230px;
    width: 100%;
}

.contact__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

    @include for-mobile-L { 
        flex-direction: column;
    }
}

.contact__row--primary {
    margin-top: 15px;

    &:last-of-type {
        margin-top: 10px;
    }
}

.contact__row--secondary {
    margin-top: 0;
}

.contact__row--terniary {
    margin-top: 17px;
}

.contact__row--quaternary {
    margin-top: 20px;
    justify-content: center;
}

.contact__item {
    max-width: 590px;
    width: 100%;
    

    &:first-of-type {
        margin-right: 30px;
    }

    &:last-of-type {
        @include for-mobile-L { 
            margin-top: 20px;
        }
    }
}

.contact__item--primary {
    max-width: 1230px;
    width: 100%;
    
    &:first-of-type {
        margin-right: 0;
    }

    &:last-of-type {
        @include for-mobile-L { 
            margin-top: 0px;
        }
    }
}

.contact__item--secondary {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:last-of-type {
        @include for-mobile-L { 
            margin-top: 0px;
        }
    }
}

.contact__input {
    max-width: 590px;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-left: 19.5px;
    margin-top: 10px;

    @include for-tablet { 
        padding-top: 19px;
        padding-bottom: 18px;
        padding-left: 11.6px;
    }

    @include for-mobile-L { 
        padding-top: 15.5px;
        padding-bottom: 15.5px;
        padding-left: 11.17px;
    }
}

.contact__textarea {
    width: 100%;
    height: 180px;
    padding-top: 15px;
    padding-left: 18px;
    margin-top: 10px;

    @include for-tablet {
        padding-top: 25px;
        padding-left: 12px;
    }

    @include for-mobile-L {
        height: 160px; 
        padding-top: 15.5px;
        padding-left: 10px;
    }
}

.contact__radio {
    display: none;
}

.contact__label {
    font-size: 2.2rem;
    line-height: 2.3rem;
    font-weight: 700;
    color: $White;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-tablet { 
        font-size: 2rem;
        line-height: 2rem;
    }

    @include for-mobile-L { 
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    @media (max-width:374px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    span {
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background-color: $White;
        display: inline-block;
        position: relative;
        margin-right: 10px;
        margin-bottom: 5px;

        &::after {
            content: "";
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background: $LightGreen;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) scale(0);
            transition: 300ms ease-in-out 0s;
        }
    }

    input[type="radio"]:checked ~ span::after {
        transform: translate(-50%,-50%) scale(1);
    }
}

.contact__label--primary {
    margin-top: 5px;
}