.footer {
    background-color: $BackgroundGrey;
    padding: 20px 0;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    @media (max-width:767px) {
        flex-direction: column;
    }

    @media (max-width:374px) {
        padding: 0 10px;
    }
}

.footer__item {
    &:last-of-type {
        @media (max-width:767px) {
            margin-top: 10px;
        }
    }
}

.footer__text {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 400;
    color: $DarkGrey;
    margin-right: 16px;

    &:last-of-type {
        margin-right: 0;
    }
}

.footer__text--primary {
    font-size: 1.4rem;
}