header {
    height: 160px;

    @include for-tablet {    
        height: 80px;
    }  
}

.container {
    position: relative;
}

.header__container {
    padding: 0;
}

.navbar {
    display: flex;
    max-width: 913.5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include for-laptop {
        justify-content: flex-start;    
        margin-left: 10px;
    }

    @include for-tablet { 
        margin-left: 21.5px;
    }
}

.navbar__logo {
    width: 120px;
    height: 120px;

    @include for-laptop-L {    
        left: 100px;
    }

    @include for-laptop {    
        left: 21.5px;
    }

    @include for-tablet {    
        width: 60px;
        height: 60px;
        top: 10px;
    }
}

.navbar__menu {
    @include for-tablet {
        display: block;
        width: 100%;
        position: absolute;
        left: -900px;
        top:100px;
        flex-direction: column;
        gap: 0;
        width: 100%;
        text-align: left;
        transition: 0.3s;
        background-color: $White;
        height: 943px;
        top: 80px;
        border-top: 2px solid $Grey;
    }

    @include for-mobile-L {
    text-align: center;
    }
}

.navbar__menu.active {
    left: 0px;
    z-index: 2;
}

.navbar__arrow {
    display: none;
    position: absolute;
    right: 16px;
    top: 40px;
    font-size: 1.6rem;
    color: $Orange;

    @include for-tablet {
        display: block;
    }

    @include for-mobile-L {
        right: 0;
    }
}

.navbar__arrow--secondary {
    top: 30px;
}

.navbar__item {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: $Black;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    
    transition: background-color 200ms ease-in-out;

    &:first-of-type {
        a {
            @include for-tablet {
                padding: 40px 0 29px 20px;
            }

            @include for-mobile-L {
                padding-left: 0px;
            }
        }
    }

    @include for-tablet {
        position: relative;
        display: inline-block;
        max-width: 728px;
        width: 100%;
        height: auto;
        margin-left: 20px;
        padding: 0 40px 0 0;
        border-bottom: 2px solid $Grey;

        & ul{
            visibility: visible;
            opacity: 1;
        }

        &:hover {
            background-color: transparent;
        }
    }

    @media (max-width:767px) {
        width: 90%;
    }
    
    @include for-mobile-L {
        max-width: 335px;
        width: 100%;
        margin-right: 20px;
        text-align: left;
    }

    @media (max-width:374px) {
        max-width: 280px;
        width: 100%;
    }

    a {
        display: inline-block;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.1rem;
        color: $Black;
        padding: 70px 14.5px 69px 14px;

        @include for-tablet {
            padding: 30px 0px 26px 20px;
        }

        @include for-mobile-L {
            padding-left: 0px;
        }

        @media (min-width:769px) {
            &:hover {
                background-color: $Grey;
                
            }
        
            &:hover ~ .navbar__dropdown{
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.navbar__item--mobile {
    max-height: 287px;
    height: auto;
}

.navbar__dropdown {
    position: absolute;
    list-style-type: none;
    top: 160px;
    left: 260px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 287px;
    background-color: $White;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    z-index: 2;

    @include for-laptop {
        left: 40px;
    }

    @include for-tablet {
        position: relative;
        top: 0px;
        left: 0px;
        height: auto;
        text-align: left;
        display: none;
    }

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid white;
        position: absolute;
        left: 145px;
        top: -20px;

        @include for-laptop {
            left: 138px;
        }

        @include for-tablet {
            display: none;
        }
    }

    li {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.8rem;
        text-align: center;
        margin-top: 30px;

        @include for-tablet {
            font-size: 1.6rem;
            line-height: 1.6rem;
            text-align: left;
            margin-left: 40px;
            margin-top: 22px;
        }

        @include for-mobile-L {
            font-size: 1.5rem;
            line-height: 1.5rem;
        }

        &:first-of-type {
            margin-top: 40px;

            @include for-tablet {
                margin-top: 0px;
            }
        }

        &:last-of-type {
            @include for-tablet {
                margin-bottom: 29px;
            }
        }

        
    }
}

.navbar__dropdown--second {
    left: 535px;
    height: 191px;

    @include for-laptop {
        left: 315px;
    }

    @include for-tablet {
        left: 0;
        height: auto;
    }
}

.navbar__search {
    @include btn-search;
    right: 0px;
    top: 40px;
    width: 80px;
    height: 80px;

    @include for-laptop-L {    
        right: 100px;
    }

    @include for-laptop {    
        right: 30px;
    }

    @include for-tablet {    
        top: 13px;
        right: 80px;
        width: 30px;
        height: 60px;
    }

    @include for-mobile-L {    
        right: 75px;
    }

    .icon-search {
        color: $Orange;
        font-size: 4rem;

        @include for-tablet {    
            font-size: 3rem; 
        } 
    }
}



.navbar__hamburger {
    display: none;
    cursor: pointer;
    border: none;
    background-color: $White;
    

    @include for-tablet {
        display: inline-block;
        position: absolute;
        top: 30px;
        right: 20px;
    }  

    .icon-menu {
        font-size: 2rem;
        color: $DarkGrey;
        display: none;

        @include for-tablet {
            display: inline;
        } 
    }     
}

.navbar__close {
    display: none;
    cursor: pointer;

    @include for-tablet {
        @include btn-search;
        position: absolute;
        top: 29px;
        right: 24px;
    }
    
    .icon-close {
        font-size: 2.2rem;
        color: $DarkGrey;
    }
}

.navbar__dropdown--active {
    display: flex;
}