.search-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: $White;
    text-align: center;
    
}

.search-overlay__form {
    max-width: 1230px;
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;

    @include for-laptop-L {  
        width: 90%;
    }
    
    @include for-tablet {  
        max-width: 728px;
        width: 100%;
    }
}

.search-overlay__input {
    height: 50px;
    width: 100%;
    padding-left: 30px;
    padding-top: 16px;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 3.6rem;
    border: none;
    border-bottom: 2px solid $Grey;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: 98%;

    @include for-tablet {  
        padding-left: 20px;
        width: 708px;
        background-size: 30px 30px;
        font-size: 2.8rem;
        line-height: 2.9rem;
    }

    @media (max-width:767px) {
        width: 380px;    
    }

    @include for-mobile-L {  
        width: 315px;
        font-size: 1.6rem;
        line-height: 1.6rem; 
    }

    @media (max-width:374px) {
        width: 280px;    
    }

    &::placeholder {
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 3.6rem;

        @include for-tablet {  
            font-size: 2.8rem;
            line-height: 2.9rem;
        }

        @include for-mobile-L {  
            font-size: 1.6rem;
            line-height: 1.6rem;
        }
    }
}

.search-overlay__button-close {
    @include btn-search;
    width: 56px;
    height: 56px;
    top: 20px;
    right: 30px;

    @include for-tablet {  
        right: 20px;
    }

    @include for-mobile-L {
        width: 36px;
        height: 36px;
        top: 12px;
        right: 12px;
    }

    .icon-close {
        font-size: 3rem;
        color: $DarkGrey;

        @include for-mobile-L {
            font-size: 2.2rem;
            
        }
    }
}

