.slider {
    height: 864px;
    background-color: $BackgroundGrey;

    @media (max-width:1280px) {
        height: 667px;
    }

    @include for-mobile-L { 
        height: 581px;
    }
}

.slider__container {
    display: flex;
    align-items: flex-start;
    overflow: hidden;

    @media (max-width:1280px) {
        max-width: 728px;
        width: 100%;
    }

    @media (max-width:767px) {
        max-width: 350px;
    }

    @include for-mobile-L { 
        max-width: 335px; 
        justify-content: flex-start;
    }

    @media (max-width:370px) {
        max-width: 300px;
    }
}

.slider__title {
    position: absolute;
    top: 50px;
    font-size: 4rem;
    line-height: 5rem;
    color: $Green;

    @include for-tablet {  
        font-size: 3rem;
        line-height: 4rem;
    }

    @include for-mobile-L { 
        font-size: 2.6rem;
        line-height: 3.2rem;
    }
}

.slider__content {
    max-width: 1230px;
    width: 200%;
    margin-top: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    scroll-behavior: smooth;

    @media (max-width:1280px) {
        max-width: 728px;
        margin-top: 120px;
    }

    @media (max-width:767px) {
        text-align: left;
    }

    @include for-mobile-L { 
        margin-top: 112px;
    }
}

.slider__card {
    max-width: 580px;
    width: 100%;
    margin-right: 70px;
    flex: 0 0 auto;

    @media (max-width:1280px) {
        width: 350px;
        margin-right: 28px;
    }

    @include for-mobile-L { 
        max-width: 335px;
    }

    @media (max-width:370px) {
        max-width: 300px;
    }

    &:last-of-type {
        margin-right: 0px;
    }
    
    img {
        @media (max-width:1280px) {
            width: 350px;
            height: auto;
        }  

        @include for-mobile-L { 
            width: 335px;
        }

        @media (max-width:370px) {
            width: 300px;
        }
    }
}

.slider__heading {
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 0.3rem;
    color: $Orange;
    font-weight: 700;
    margin-top: 44px;
    text-transform: uppercase;

    @include for-mobile-L { 
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin-top: 43px;
    }
}

.slider__text {
    font-size: 2.6rem;
    line-height: 3.4rem;
    color: $DarkGrey;
    font-weight: 700;
    margin-top: 20px;

    @include for-tablet {  
        font-size: 2.2rem;
        line-height: 3rem;
    }

    @include for-mobile-L { 
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-top: 15px;
    }
}

.slider__time {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: $DarkGrey;

    @include for-mobile-L { 
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
}

.slider__button {
    position: absolute;
    bottom: 68px;
    width: 80px;
    height: 80px;
    border: 1px solid $DarkGrey;
    border-radius: 40px;
    cursor: pointer;

    @media (max-width:1280px) {
        bottom: 50px;
    }

    @include for-mobile-L { 
        width: 60px;
        height: 60px;
    }
}

.slider__button--secondary {
    left: 90px;
}