.tabs {
    height: auto;

    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.tabs__selected-option {
    display: none;

    @media (max-width:528px) {
        display: inline-block;
        text-align: center;
        font-size: 1.6rem;
        line-height: 4rem;
        font-weight: 700;
        width: 100px;
        background-color: $LightGreen;
        color: $White;
        border-radius: 3px 3px 0px 0px;
        margin-right: -1px;
    }       
}

.tabs__title {
    color: $Green;
}

.tabs__options {
    margin-top: 20px;
}

.tabs__desktop {
    list-style-type: none;
    display: flex;

    @media (max-width:528px) {
        display: none;
        margin-top: 2px;
    }

    li {
        margin-right: 2px;

        @media (max-width:528px) {
            margin-right: 0px;
        }
    }

    input {
        display: none;

        &:checked + label {
            font-weight: 700;
            background-color: $LightGreen;
            color: $White;
        }

        @media (max-width:528px) {
            &:checked + label {
                font-weight: 700;
                color: $DarkGrey;
                background-color: $BackgroundGrey;
            }
        }
    }

    label {
        display: inline-block;
        width: 130px;
        font-size: 2.2rem;
        line-height: 5rem;
        font-weight: 400;
        text-align: center;
        color: $DarkGrey;
        background-color: $BackgroundGrey;
        border-radius: 3px 3px 0px 0px;
        cursor: pointer;

        @include for-tablet { 
            width: 120px;
            font-size: 1.8rem;
            line-height: 4rem;
        }

        @media (max-width:528px) {
            border-radius: 0;
            width: 335px;
        }

        @media (max-width:374px) {
            width: 280px;
        } 

        &:last-of-type {
            margin-right: 0px;
        }

        &:hover {
            font-weight: 700;
            background-color: $LightGreen;
            color: $White;
        }
    }
}

.tabs__responsive {
    display: none;

    @media (max-width:528px) {
        display: inline-block;
        text-align: center;
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 10px 0;
        max-width: 233px;
        width: 100%;
        background-color: $BackgroundGrey;
        color: $DarkGrey;
        border-radius: 3px 3px 0px 0px;
        border: none;
    } 

    @media (max-width:374px) {
        max-width: 178px;
        width: 100%;
    } 
}

.tabs__content {
    clear: both;
}

.tabs__text {
    width: 100%;
    padding: 30px;
    margin-top: 2px;
    display: none;
    background-color: $BackgroundGrey;

    p:last-of-type {
        margin-top: 20px;
    }

    @include for-mobile-L { 
        padding: 20px;
        margin-top: 3px;
    }
}

.active {
    display: block;
}








