.under-hero {
    display: flex;
}

.under-hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;

    @media (max-width:767px) {
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
    }
}

.under-hero__content {
    max-width: 530px;
    width: 100%;

    @include for-laptop {  
        width: 380px;
    }

    @media (max-width:767px) {
        margin-left: 0px;
    }

    @include for-mobile-L {  
        width: 335px;
    }

    @media (max-width:374px) {
        width: 300px;
    }
}

.under-hero__title {
    @media (max-width:767px) {
        margin-top: 20px;
    }
}

.under-hero__text {
    margin-top: 30px;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    color: $DarkGrey;

    @include for-laptop {  
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-top: 20px;
    }

    @media (max-width:767px) {
        margin-top: 10px;
    }

    @include for-mobile-L {  
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
}

.under-hero__button {
    margin-top: 30px;

    @include for-tablet {  
        margin-top: 20px;
    }

    @media (max-width:767px) {
        margin-top: 10px;
    }
}

.under-hero__img {
    border-radius: 15px;
    
    @media (max-width:1023px) {
        width: 300px;
        height: auto;
    }

    @media (max-width:767px) {
        width: 335px;
    }

    @media (max-width:374px) {
        width: 300px;
    }
}

.under-hero__container--secondary {
    @media (max-width:767px) {
        flex-direction: column;
    }
}

