header {
    height: 160px;

    @include for-tablet {    
        height: 80px;
    }  
}

.container {
    position: relative;
}

.navbar {
    display: flex;
    max-width: 913.5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include for-laptop {
        justify-content: flex-start;    
        margin-left: 10px;
    }

    @include for-tablet { 
        margin-left: 21.5px;
    }
}

.navbar__logo {
    width: 120px;
    height: 120px;

    @include for-laptop-L {    
        left: 100px;
    }

    @include for-laptop {    
        left: 21.5px;
    }

    @include for-tablet {    
        width: 60px;
        height: 60px;
        top: 10px;
    }
}

.navbar__menu {
    @include for-tablet {
        display: block;
        width: 100%;
        position: absolute;
        left: -900px;
        top:100px;
        flex-direction: column;
        gap: 0;
        width: 100%;
        text-align: left;
        transition: 0.3s;
        background-color: $White;
        height: 943px;
        top: 80px;
        border-top: 2px solid $Grey;
    }
}

.navbar__menu.active {
    left: 0px;
    z-index: 2;
}

.navbar__triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
    position: absolute;
    left: 400px;
    top: 140px;

    @include for-laptop {
        left: 180px;
    }

    @include for-tablet {
        display: none;
    }
}

.navbar__triangle--secondary {
    position: absolute;
    top: 140px;
    left: 675px;

    @include for-laptop {
        left: 455px;
    }
}

.navbar__arrow {
    display: none;
    position: absolute;
    right: 16px;
    top: 40px;

    @include for-tablet {
        display: block;
    }
}

.navbar__arrow--secondary {
    top: 30px;
}

.navbar__item {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: $Black;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color 200ms ease-in-out;

    &:hover {
        background-color: $Grey;
    }

    &:hover ul{
        visibility: visible;
        opacity: 1;
    }

    &:first-of-type {
        a {
            @include for-tablet {
                padding: 40px 0 29px 20px;
            }
        }
    }

    @media (min-width:768px) {
        &:hover ul{
            visibility: visible;
            opacity: 1;
        }
    } 

    @include for-tablet {
        position: relative;
        display: inline-block;
        max-width: 688px;
        width: 100%;
        height: auto;
        margin-left: 20px;
        padding: 0 40px 0 0;
        border-bottom: 2px solid $Grey;

        &:hover {
            background-color: transparent;
        }
    }

    @media (max-width:767px) {
        width: 85%;
    } 

    a {
        display: inline-block;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
        color: $Black;
        padding: 70px 0;

        @include for-tablet {
            padding: 30px 0px 26px 20px;
        }

    }
}

.navbar__item--mobile {
    max-height: 287px;
    height: auto;
}

.navbar__dropdown {
    position: absolute;
    list-style-type: none;
    top: 160px;
    left: 260px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 287px;
    background-color: $White;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    z-index: 2;

    @include for-laptop {
        left: 40px;
    }

    @include for-tablet {
        position: relative;
        top: 0px;
        left: 0px;
        height: auto;
        text-align: left;
        display: none;
    }

    li {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.8rem;
        text-align: center;
        margin-top: 30px;

        @include for-tablet {
            text-align: left;
            margin-left: 40px;
            margin-top: 22px;
        }

        &:first-of-type {
            margin-top: 40px;

            @include for-tablet {
                margin-top: 0px;
            }
        }

        &:last-of-type {
            @include for-tablet {
                margin-bottom: 29px;
            }
        }

        
    }
}

.navbar__dropdown--second {
    left: 535px;
    height: 191px;

    @include for-laptop {
        left: 315px;
    }

    @include for-tablet {
        left: 0;
        height: auto;
    }
}

.navbar__search {
    @include btn-search;
    right: 0px;
    top: 40px;
    width: 80px;
    height: 80px;

    @include for-laptop-L {    
        right: 100px;
    }

    @include for-laptop {    
        right: 30px;
    }

    @include for-tablet {    
        display: none;
    }
}

.navbar__search-mobile {
    @include btn-search;
    display: none;

    @include for-tablet {  
        display: inline-block;  
        width: 30px;
        height: 60px;
        top: 10px;
        right: 80px;
    }

    @include for-mobile-L {  
        right: 75px;
    }
}

.navbar__hamburger {
    display: none;
    cursor: pointer;
    

    @include for-tablet {
        display: inline-block;
        position: absolute;
        top: 30px;
        right: 20px;
    }  
}

.navbar__close {
    display: none;
    cursor: pointer;

    @include for-tablet {
        @include btn-search;
        position: absolute;
        top: 29px;
        right: 24px;
    } 
}

.navbar__dropdown--active {
    display: flex;
}